body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.head {
    display: flex;
    justify-content: space-evenly;
    background-color:#1F2937;
    padding: 64px;
}

.logo {
    
    font-size: 24px;
    color: #fa0909;
}

ul ,
.subtext {
    display: flex;
    gap: 16px;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-1 {
    padding-top: 25px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    flex-grow: 0;
    margin-top: 40px;
}

.header-2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    
}

 .covers{
    border: 8px solid rgb(4, 4, 5);
    border-style: ;
}

.footer {
    background-color: #3882f6;
    color: #ffffff;
}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
.images {
    display: flex;
    gap: 16px;
    justify-content: center;
    text-align: center;
    padding: 16px;
    padding-bottom: 32px;
}

.head-img {
    padding-top: 25px;
    padding-left: 80px;
}





