body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.head {
    display: flex;
    justify-content: space-evenly;
    background-color:#1F2937;
    padding: 64px;
}

.logo {
    
    font-size: 24px;
    color: #fa0909;
}

ul ,
.subtext {
    display: flex;
    gap: 16px;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-1 {
    padding-top: 25px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px;
}

.b-1 {
    margin-top: 40px;
}

.main-body {
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    padding: 48px;
    gap: 30px;
}

.header-2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    
}

 .covers{
    border: 8px solid rgb(4, 4, 5);
    border-style: ;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    
}

.call {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: #ffffff;
    width: 600px;
}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 64px;
    padding-left: 100px;
    padding-right: 100px;
}

.stan {
    text-align: end;
}

.images {
    display: flex;
    gap: 16px;
    justify-content: center;
    text-align: center;
    padding: 16px;
    padding-bottom: 32px;
}

.head-img {
    padding-top: 25px;
    padding-left: 80px;
}






